<main role="main" class="container">
  <div class="my-3 p-3 bg-light rounded box-shadow">
    <% first_profile = locals[:profiles].first %>
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= locals[:title] %></h6>
    <% locals[:profiles].each do |profile| %>
      <div class="media text-muted pt-3 row_content" style="position: relative;">
        <% if img = profile.user_profile_image %>
          <a href="/<%= profile.user_screen_name %>">
            <img alt="icon" class="mr-2 rounded icon-image" style="width: 55px; height: 55px;" data-holder-rendered="true" src="data:image/png;base64,<%= Base64.strict_encode64(img) %>" />
          </a>
        <% end %>
        <% if (banner = profile.user_profile_banner) && banner.empty?.! %>
          <div style="position:absolute; top:15px; right:130px;">
            <img alt="icon" class="mr-2 rounded banner-image" style="width: 100px; height: 33px;" data-holder-rendered="true" src="data:image/png;base64,<%= Base64.strict_encode64(banner) %>" />
          </div>
        <% end %>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark"><%= profile.user_name %></strong>
          <span class="d-block">
            <a href="https://twitter.com/<%= profile.user_screen_name %>">@<%= profile.user_screen_name %></a>
          </span>
          <%== profile.user_description.to_s.add_a_tag %>
          <br>
          <%== profile.user_url.to_s.add_a_tag %>&nbsp;&nbsp;
          <%== profile.user_location.to_s.add_a_tag %>
        </p>
        <p>
          <%= profile.created_at.strftime('%Y-%-m-%-d %H:%M') %>
        </p>
      </div>
    <% end %>
  </div>
  <%= link_to_prev_page(locals[:profiles], '前へ') %>
  <%= link_to_next_page(locals[:profiles], '次へ') %>
  <br>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
  <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <br>
</main>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('div.row_content').forEach(row => {
    row.addEventListener('click', () => {
      location.href = row.querySelector('a').href;
    })
  })
})
</script>

<style type="text/css">
img.banner-image:hover, img.icon-image:hover {
  transform: scale(2);
  transition-duration: 0.5s;
}
div.row_content:hover {
  background: #EEEEEE;
  cursor: pointer;
}
a[rel=next], a[rel=prev] {
  display: inline-block;
  padding: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  margin-bottom: 6px;
  background: #DDDDFF;
}
</style>
