<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= @user.user_name %>さんのプロフィール履歴</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript">
      function button_click() {
        var form = document.getElementById("search_form");
        var uesr_name = document.getElementById("user_name_input");
        form.action = "/biotter/" + uesr_name.value;
        form.submit();
      }
    </script>
    <meta name="twitter:card" content="summary"/>
    <meta property="og:url" content="http://tk2-223-21147.vs.sakura.ne.jp/<%= @user.user_name %>"/>
    <meta property="og:title" content="<%= @user.user_name %>さんのプロフィール履歴"/>
    <meta property="og:description" content="<%= h @user.profiles.last.profile %>"/>
    <meta property="og:image" content="http://tk2-223-21147.vs.sakura.ne.jp/biotter.png"/>
  </head>
  <body>
    <h1>Biotter</h1>
    <form id="search_form" action="/" method="get">
      <input id="user_name_input" type="text" placeholder="id入れてね">
      <input id="search_button" type="submit" value="検索" onclick="button_click();">
    </form>
    <br>
    <h2><%= h @user.user_name %>
      さんのプロフィール履歴</h2>
    <br>
    <table class="table">
      <tr>
        <th>アイコン</th>
        <th>名前</th>
        <th>プロフィール</th>
        <th>更新日時</th>
      </tr>
      <% @user.profiles.sort_by{|p|p.created_at}.reverse.each do |profile| %>
        <tr>
          <td><img src="<%= h profile.icon_url %>" alt="icon" width="30" height="30"></td>
          <td width="100"><%= h profile.name %></td>
          <td width="800"><%= h profile.profile %></td>
          <td><%= h profile.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
    <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a href="/biotter" role="button">ホームへ</a>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
